.card1{
    background-color: rgb(55, 54, 54);
    margin-right: 5%;
    margin-left: 5%;
    border: 2px solid white;
    display: grid;
}

.card2{
    background-color: rgb(55, 54, 54);
    margin-right: 5%;
    margin-left: 5%;
    border: 2px solid white;
    display: grid;
    
}

.card3{
    background-color: rgb(55, 54, 54);
    margin-right: 5%;
    margin-left: 5%;
    border: 2px solid white;
    display: grid;
    
}

.card4{
    background-color: rgb(55, 54, 54);
    margin-right: 5%;
    margin-left: 5%;
    border: 2px solid white;
    display: grid;
    
}