body{
    height: 100vh; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(55, 54, 54);  
}
ul{
    display: flex;
    font-size: 120%;
    color: white;
    list-style-type: none;
    margin: auto;
    background-color: rgb(36, 35, 35);
    gap: 5%;
    justify-content: center;
}

.imagem{
    display: flex;
    background-color: rgb(36, 35, 35);
    justify-content: center;
    align-items: center;
}

.titulo{
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.titulo2{
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.titulo-projetos{
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.conteudo{
    margin-left: 5%;
    text-align: justify;
    margin-right: 5%;
    font-size: 150%;
    color: rgb(3, 199, 213);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.conteudo2{
    margin-left: 5%;
    text-align: justify;
    margin-right: 5%;
    font-size: 150%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}


.texto{
    background-color: rgb(36, 35, 35);
    max-width: 70%;
}

.container{
    display: flex;
}

.container2{
    display: flex;
}

.texto2{
    background-color: rgb(55, 54, 54);
    max-width: 70%;
}

.imagem2{
    display: flex;
    background-color: rgb(55, 54, 54);
    justify-content: center;
    align-items: center;
}

span{
    color:rgb(3, 199, 213) ;
}

.projetos{
    color:rgb(3, 199, 213) ;
    background-color:rgb(55, 54, 54); 
    margin: 0%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.meus-projetos{
    background-color:rgb(36, 35, 35) ;
    text-align: center;
}

.curriculo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-decoration: none;
}
.titulo-projetos{
    color:rgb(3, 199, 213)  ;
}