.kaio{
    max-width: 70%;
    max-height: 60%;
    border: 5px solid  rgb(3, 199, 213);
    border-radius: 20%;
}

.kaio2{
    max-width: 70%;
    max-height: 60%;
    border: 5px solid  rgb(3, 199, 213);
    border-radius: 20%;
}