.kaio{
    max-width: 70%;
    max-height: 80%;
    border: 5px solid  rgb(3, 199, 213);
    border-radius: 20%;
}

.kaio2{
    max-width: 70%;
    max-height: 60%;
    border: 5px solid  rgb(3, 199, 213);
    border-radius: 20%;
}

.imagem{
    display: flex;
    background-color: #050D1A;
    justify-content: center;
    align-items: center;
    max-height: 50%;
}

.imagem2{
    display: flex;
    background-color: #050D1A;
    justify-content: center;
    align-items: center;
}

.curriculo1{
    max-height: 100%;
    max-width: 130%;
    align-items: center;
    margin-top: 60%;
}

.aviao1{
    max-height: 80%;
    max-width: 110%;
   margin-top: 60%;
}

.carro1{
    max-height: 100%;
    max-width: 110%;
    align-items: center;
    margin-top: 60%;
}

.play1{
    max-height: 70%;
    max-width: 100%;
    align-items: center;
    margin-top: 80%;
    margin-left: 5%;
}

.git1{
    max-width: 40%;
    max-height: 50%;
}

.tel1{
    max-width: 40%;
    max-height: 50%;
}

.link1{
    max-width: 40%;
    max-height: 50%;
}