.meus-projetos{
    background-color:rgb(36, 35, 35) ;
    text-align: center;
}

.curriculo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-decoration: none;
}