

.curriculo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: rgb(3, 199, 213);
    background-color: black;
    margin: 0%;
}

.viagens{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: rgb(3, 199, 213);
    background-color: black;
    margin: 0%;
}

.carros{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: rgb(3, 199, 213);
    background-color: black;
    margin: 0%;
}

.playlist{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: rgb(3, 199, 213);
    background-color: black;
    margin: 0%;
}

.github{
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.github:hover{
    color: gray;
}

.telefone{
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.linkedin{
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.linkedin:hover{
     color: gray;
}

.telefone:hover{
    color: gray;
}

.playlist:hover{
    color: blue;
}

.carros:hover{
    color: blue;
}

.viagens:hover{
    color: blue;
}

.curriculo:hover{
    color: blue;
}

.contatos{
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color: rgb(5, 6, 34);
    margin-left: 3%;
    margin-right: 3%;
}

.git{
    border-radius: 5%;
    border: solid aqua 2px;
}

.tel{
    border-radius: 5%;
    border: solid aqua 2px;
}

.link{
    border-radius: 5%;
    border: solid aqua 2px;
}