

.curriculo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.viagens{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.carros{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.playlist{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.github{
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.github:hover{
    color: gray;
}

.telefone{
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.linkedin{
    text-decoration: none;
    color: rgb(3, 199, 213);
}

.linkedin:hover{
     color: gray;
}

.telefone:hover{
    color: gray;
}

.playlist:hover{
    color: blue;
}

.carros:hover{
    color: blue;
}

.viagens:hover{
    color: blue;
}

.curriculo:hover{
    color: blue;
}

.contatos{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 3%;

}