body{
    height: 100vh; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #050D1A;
}
ul{
    display: flex;
    font-size: 120%;
    color: white;
    list-style-type: none;
    margin: auto;
    background-color: rgb(2, 4, 29);
    gap: 5%;
    justify-content: center;
}

.container{
    display: flex;
}

.container2{
    display: flex;
}

span{
    color:rgb(3, 199, 213) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.meus-projetos{
    background-color:#050D1A ;
    text-align: justify;
    align-items: center;
    gap: 2%;
    display: flex;
    height: 40%;
    margin-left: 3%;
    margin-right:3% ;
}
hr{
    margin: 0%;
    
}

.site1{
    display: grid;
    align-items: center;
}

.site2{
     display: grid;
     align-items: center;
}

.site3{
     display: grid;
     align-items: center;
}

.site4{
     display: grid;
     align-items: center;
}

.git{
    display: flex;
    align-items: center;
    height: 50%;
}

.tel{
    display: flex;
    align-items: center;
   height: 50%;
}

.link{
    display: flex;
    align-items: center;
    height: 50%;
}

