body{
    height: 100vh; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(5, 6, 34);
}
ul{
    display: flex;
    font-size: 120%;
    color: white;
    list-style-type: none;
    margin: auto;
    background-color: rgb(1, 2, 16);
    gap: 5%;
    justify-content: center;
}

.container{
    display: flex;
    max-height: 50%;
}

.container2{
    display: flex;
}

span{
    color:rgb(3, 199, 213) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.meus-projetos{
    background-color:rgb(5, 6, 34) ;
    text-align: center;
    align-items: center;
    gap: 2%;
    display: flex;
    height: 40%;
}
hr{
    margin: 0%;
}