.texto{
    background-color: rgb(5, 6, 34);
    max-width: 70%;
}

.texto2{
    background-color: rgb(8, 6, 34);
    max-width: 70%;
}

.texto-aba{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
}